# Игнорируем папку с зависимостями
node_modules

# Игнорируем логи
npm-debug.log
logs

# Игнорируем ненужные файлы и папки
.dockerignore
Dockerfile
README.md
*.env

# Игнорируем временные файлы
*.tmp
*.log
*.pid
*.seed